.cart.hidden
    .cart__container 
        .cart__close-btn
            a(href="#")
                img(src="./assets/icons/close.svg", alt="close")
        .cart__list-wrapper
        .cart__check
            span.check Итого
            span.sum 0
        .cart__actions
            .cart__pay-btn
                button.pay-btn ОПЛАТИТЬ