include ./components/button/button.pug
include ./components/card/card.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&family=Tinos&display=swap")
        link(rel="stylesheet", href="style.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src="./js/app.js", defer) 
        title Restaurent
    body 
        .wrapper
            header.header
                include ./blocks/header/header.pug
                .header__greeting.greeting
                    .greeting__text
                        span.text-welcome Добро пожаловать в
                        span.text-big Наш ресторан
                        .text__tagline
                            span ДОМ ЛУЧШЕЙ ЕДЫ
                    +button({type:'menu', text:'VIEW MENU'})
                .header__about.about
                    +card({type:'info', url:'./assets/icons/dish.svg', black:'Магическая ', beige:'Атмосфера', text:'В нашем заведении царит магическая атмосфера наполненная вкусными ароматами'})
                    +card({type:'info', url:'./assets/icons/dish.svg', black:'Лучшее качество ', beige:'Еды', text:'Качество нашей Еды - отменное!'})
                    +card({type:'info', url:'./assets/icons/dish.svg', black:'Недорогая ', beige:'Еда', text:'Стоимость нашей Еды зависит только от ее количества. Качество всегда на высоте!'})
            <!-- подклчение раздела история -->
            include ./blocks/history/history.pug
            <!-- подклчение раздела баннер -->
            include ./blocks/banner/banner.pug
            <!-- подклчение раздела наши блюда -->
            include ./blocks/dishes/dishes.pug
            <!-- подклчение раздела меню -->
            include ./blocks/menu/menu.pug
            <!-- подклчение раздела отзывы -->
            include ./blocks/feedback/feedback.pug
            <!-- подклчение раздела галерея -->
            include ./blocks/galery/galery.pug
            <!-- подклчение раздела повара -->
            include ./blocks/cook/cook.pug
            footer.footer
                img(src="./assets/img/background_footer.png", alt="")
            .scrollUp-btn
                a(href="#top") Вверх
        <!-- подклчение модального окна -->
        include ./blocks/modal/modal.pug

        <!-- подклчение окна корзины -->
        include ./blocks/cart/cart.pug
