///// 1200px
// 992px
// 768px
// 480px
// 320px

////////ОБНУЛЕНИЕ//////
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:10px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.wrapper {
     width: 100%;
     background-image: url(./assets/img/background.png);
     height: 800px;
     background-repeat: no-repeat;
     background-size: 100%;
    
}

.greeting {
     width: 50%;
	&__text {
          display: grid;
          font-family: 'Tinos';
          font-style: normal;
          font-weight: 400;
      }
}
.text-welcome { 
     color: #FF7400;
     font-size: 5rem;
     line-height: 57px;
     padding: 14.3rem 0 0;
     text-align: center;
}
.text-big {
     color: #FF7400;
     font-size: 8rem;
     line-height: 92px;
     text-align: center;
 }
.text__tagline {
     span {
          color: #fff;
          font-family: 'Open Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
          margin: 12px 0 0;
          padding: 0 5%;
     }
}

.text__tagline {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
}
.text__tagline:before, .text__tagline:after {
     content: "";
     display: block;
     height: 1px;
     width:10%;
     background: #E5E5E5;
}

.btn-menu {
     display: block;
     margin: 21px auto 0;
}
.footer img{
     width: 100%;
}
//btn scrollTop 
.scrollUp-btn {
     position: fixed;
     bottom: 3rem;
     right: 6rem;
     display: none;
     a {
          width:6.4rem;
          display: block;
          text-align: center;
          text-transform:uppercase;
          text-decoration:none;
          color:#FF7400;
          transition: 1s;
          font-size: 2rem;
     }
     a:hover {
          color: #000;
     }
}

.info {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin-top: 10%;
}
@media (max-width: 320px) {
     .header__info {
          flex-direction: column;
          align-items: center
     }
}

@media (max-width:991px) {
     .text-welcome {
          font-size: 2.5rem;
     }
     .text-big {
          font-size: 4rem;
     }

}

@import './blocks/cook/cook';


@import './blocks/menu/menu';
.menu {
     background-image: url('./assets/img/background__menu.png');
     padding: 100px 0 226px;

}

@import './blocks/galery/galery';
.galery {
     padding-top: 101px;
}
.history {
     padding: 150px 0 0;
}
@import './blocks/history/history';
@media (max-width:320px) {
     .history {
          padding: 0 0 51px;
          margin-bottom: 0;
     }
}

@import './blocks/feedback/feedback';
.feedback {
     background-color: #E5E5E5;
     padding: 105px 0;
}

@import './blocks/dishes/dishes';
.offer {
     padding: 132px 0 150px;
}


@import './blocks/button/button';

@import './blocks/title/title';

@import './components/card';

@import './blocks/banner/banner';

@import './blocks/header/header';

@media (max-width:320px) {
     .wrapper {
          background-size: auto;
     }

     .text-welcome {
          font-size: 30px;
          line-height: 34px;
     }
     .text-big {
          font-size: 40px;
          line-height: 46px;
     }
     .greeting {
          width: 100%;
     }
}

@import './blocks/modal/modal';

@import './blocks/cart/cart'