* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100%;
  background-image: url(./assets/img/background.png);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.header, .banner__container, .cook__container, .offer__container,
.feedback__container, .galery__container, .information__container, .menu__container {
  max-width: 1129px;
}

.greeting {
  width: 50%;
}
.greeting__text {
  display: grid;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
}

@media (max-width: 991px) {
  .greeting {
    width: 100%;
  }
}
.text-welcome {
  color: #FF7400;
  font-size: 5rem;
  line-height: 57px;
  padding: 14.3rem 0 0;
  text-align: center;
}

@media (max-width: 480px) {
  .text-welcome {
    padding: 10rem 0 0;
  }
}
.text-big {
  color: #FF7400;
  font-size: 8rem;
  line-height: 92px;
  text-align: center;
}

@media (max-width: 480px) {
  .text-big {
    font-size: 6rem;
    line-height: 60px;
  }
}
.text__tagline span {
  color: #fff;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 12px 0 0;
  padding: 0 3%;
}

.text__tagline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.text__tagline:before, .text__tagline:after {
  margin-top: 1rem;
  content: "";
  display: block;
  height: 1px;
  width: 10%;
  background: #E5E5E5;
}

.btn-menu {
  display: block;
  margin: 21px auto 0;
}

.footer img {
  width: 100%;
}

.scrollUp-btn {
  position: fixed;
  bottom: 3rem;
  right: 6rem;
  display: none;
}
.scrollUp-btn a {
  width: 6.4rem;
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FF7400;
  transition: 1s;
  font-size: 2rem;
}
.scrollUp-btn a:hover {
  color: #000;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15rem;
}

@media (max-width: 768px) {
  .header__about {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .header__about {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 320px) {
  .text-welcome {
    font-size: 2.5rem;
  }
  .text-big {
    font-size: 4rem;
  }
}
.cook {
  margin: 100px 0 150px;
}

.cook__container {
  width: 100%;
  margin: 0 auto;
}

.cook__foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cook__foto .foto_item {
  flex-basis: 33.3333%;
  padding: 0 1rem;
}
.cook__foto .foto_item img {
  display: block;
  width: 100%;
}

@media (max-width: 320px) {
  .cook {
    padding: 71px 0 21px;
  }
  .cook__foto {
    flex-direction: column;
    gap: 17px;
  }
  .cook__foto img {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}
.menu__container {
  margin: 0 auto;
}
.menu__cards {
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
}

.menu__card {
  margin: 0 1rem;
  width: 350px;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.menu__card .card__title {
  font-family: "Tinos";
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  margin: 6% 1%;
}

.card__description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 1% 3% 6%;
}

.card__img {
  position: relative;
}

.img-round {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 40px 2% 22px;
}

.card__img-price {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background: #D67E34;
  border: 7px solid #FFFFFF;
  border-radius: 100%;
  font-family: "Cookie";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 33px;
  color: #FFFFFF;
  top: 60%;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .menu__cards {
    justify-content: center;
  }
  .menu__card:nth-child(2), .menu__card:nth-child(3) {
    display: none;
  }
  .menu__card {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .menu__cards {
    flex-direction: column;
    align-items: center;
  }
  .menu__card {
    margin: 1rem 1rem;
  }
}
.menu {
  background-image: url("./assets/img/background__menu.png");
  padding: 100px 0 226px;
  background-size: cover;
}

.galery__container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.galery__photos {
  display: grid;
  grid-template-areas: "photo1 photo1  photo2 photo3" "photo4 photo5  photo6 photo6";
  gap: 2.143rem;
}
.galery__photos img {
  display: block;
  width: 100%;
  height: 100%;
}

.photos__item-1 {
  grid-area: photo1;
}

.photos__item-2 {
  grid-area: photo2;
}

.photos__item-3 {
  grid-area: photo3;
}

.photos__item-4 {
  grid-area: photo4;
}

.photos__item-5 {
  grid-area: photo5;
}

.photos__item-6 {
  grid-area: photo6;
}

@media (max-width: 320px) {
  .galery__photos {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .galery__photos img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 290px;
    height: 274px;
    display: block;
    margin: 0 auto;
  }
}
.galery {
  padding-top: 101px;
}

.history {
  padding: 150px 0 0;
}

.information__container {
  padding: 5px 5px 0;
  margin: 0 auto;
}

.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 122px;
}
.history__text {
  display: flex;
  flex-direction: column;
  width: 444px;
  height: 422px;
}
.history__text-body {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #656363;
  padding: 0 10px 60px;
}
.history__text-numbers {
  display: flex;
  justify-content: space-evenly;
}
.history__photos {
  margin: 0 1%;
  width: 539px;
  height: 498px;
  position: relative;
}

.numbers {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
  text-align: center;
  color: #D67E34;
}
.numbers span {
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.photos-item {
  position: absolute;
  display: block;
  max-width: 100%;
  margin: 1%;
}

#first {
  z-index: 2;
  top: 198px;
  left: 285px;
  transition: 1s;
}

#second {
  top: 72px;
  z-index: 2;
  left: 0px;
  transition: 1s;
}

#third {
  top: 0px;
  left: 190px;
  z-index: 1;
  transition: 1s;
}

#first:hover, #second:hover, #third:hover {
  z-index: 4;
  transform: scale(1.1);
}

#forth {
  top: 34px;
  left: 285px;
}

@media (max-width: 768px) {
  .history {
    flex-direction: column;
    align-items: center;
  }
  .history__text {
    width: 100%;
  }
  .history__photos {
    left: -6.5rem;
    width: 400px;
    height: 400px;
    transform: scale(0.5);
  }
}
@media (max-width: 320px) {
  .history {
    flex-direction: column;
  }
  .history__text {
    width: 100%;
  }
  .history__photos {
    transform: scale(0.6);
  }
}
@media (max-width: 320px) {
  .history {
    padding: 0 0 51px;
    margin-bottom: 0;
  }
}
.feedback__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.feedback__text {
  max-width: 920px;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #000000;
  padding-bottom: 25px;
}
.feedback__user {
  padding-bottom: 25px;
}
.feedback__user-avatar {
  padding-bottom: 16px;
}
.feedback__user-avatar img {
  width: 100%;
}
.feedback__user-status {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-align: center;
}
.feedback__user-name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  text-align: center;
}
.feedback__slider {
  display: flex;
  gap: 2px;
  align-items: center;
}
.feedback__slider-item {
  width: 5px;
  height: 5px;
  background-color: #C4C4C4;
  border-radius: 50%;
}
.feedback__slider-item:hover {
  cursor: pointer;
}

.active {
  width: 7px;
  height: 7px;
  border: 1px solid #FF7400;
  background-color: #fff;
}

.feedback__button {
  margin-top: 1.5rem;
}

.feedback {
  background-color: #E5E5E5;
  padding: 105px 0;
}

.offer__container {
  padding: 0 5px;
  margin: 0 auto;
}
.offer__body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.offer__photo {
  position: relative;
  width: 40%;
}
.offer__photo img {
  display: block;
  max-width: 100%;
  height: auto;
}
.offer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.offer__item {
  display: flex;
  gap: 30px;
}
.offer__item-text {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
}
.offer__item span {
  font-family: "Tinos";
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  width: 100%;
}

.text {
  display: flex;
  justify-content: space-between;
}

.price {
  text-align: end;
}

@media (max-width: 480px) {
  .offer__photo {
    display: none;
  }
  .text {
    flex-direction: column;
  }
  .offer__item-photo img {
    width: 130px;
    height: 113px;
  }
  .offer__item {
    gap: 8px;
  }
  .offer__item-text .name {
    font-size: 22px;
  }
  .offer__item-text .price {
    text-align: center;
  }
  .offer__list {
    gap: 87px;
  }
}
@media (max-width: 991px) {
  .offer__photo {
    display: none;
  }
  .offer__item {
    margin: 1% 0;
  }
}
.offer {
  padding: 132px 0 150px;
}

button {
  width: 157px;
  height: 47px;
  background-color: #FF7400;
  color: #fff;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  transition: background-color 0.2s linear;
}

button:active {
  transform: scale(0.95);
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: rgba(209, 103, 16, 0.6901960784);
}

@media (max-width: 320px) {
  button {
    width: 139px;
    height: 43px;
  }
}
.title {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 62px;
  padding-bottom: 21px;
  text-align: center;
  color: #FFFFFF;
}
.title_black {
  color: black;
}
.title_orange {
  color: #D67E34;
}

@media (max-width: 320px) {
  .title {
    font-size: 40px;
    line-height: 46px;
  }
}
.card__container {
  padding: 10px;
  background-color: #fff;
  height: 328px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.card__img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 2.14rem;
}
.card__title, .card__text {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  color: #2C2C2C;
  text-align: center;
  margin-bottom: 1.43rem;
}
.card__title_highlight, .card__text_highlight {
  color: #BC9060;
}
.card__text {
  color: #656363;
}

@media (max-width: 991px) {
  .card__text, .card__title {
    font-size: 22px;
    line-height: 25px;
  }
}
@media (max-width: 320px) {
  .info {
    gap: 14px;
  }
  .card__container {
    width: 290px;
    height: 276px;
  }
  .card__container .card__img {
    width: 89px;
    height: 89px;
  }
  .card__title {
    margin-bottom: 6px;
  }
}
.card {
  flex-basis: 33.3333%;
  padding: 0.8rem;
}

.banner {
  background: linear-gradient(rgba(22, 21, 21, 0.865), rgba(0, 0, 0, 0.939)), url(./assets/img/background_history.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner__container {
  height: 357px;
  padding: 5px 5px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner__text {
  width: 99%;
  height: 50%;
}
.banner__text_big {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  line-height: 60px;
  color: #D67E34;
  padding-bottom: 20px;
}
.banner__text_adv {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

@media (max-width: 320px) {
  .banner__text_big {
    font-size: 30px;
    line-height: 34px;
  }
  .banner {
    background-size: auto;
  }
  .banner__container {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .banner__container {
    height: 400px;
    flex-wrap: wrap;
  }
  .banner__text_big {
    font-size: 30px;
    line-height: 34px;
  }
  .banner__text_adv {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .banner__container {
    flex-direction: column;
    justify-content: space-around;
  }
  .banner__text {
    text-align: center;
  }
}
.header {
  margin: 0 auto;
  padding: 0 5px;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.57rem;
}
.header__logo {
  flex-grow: 1;
}
.header__logo img {
  transition: transform 0.8s ease-in-out;
}
.header__logo img:hover {
  transform: rotate(360deg);
}
.header__actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__burger {
  display: none;
}

.nav__item {
  margin-right: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  transition: color 0.2s linear;
}
.nav__item:hover {
  color: #D67E34;
}

.header__cart {
  border-right: 1px solid #fff;
  padding-right: 10px;
  height: 50px;
  padding-top: 10px;
}

.cart-icon {
  top: 20px;
}

.actions__telephone {
  display: flex;
  gap: 8px;
}
.actions__number a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  transition: color 0.2s linear;
}
.actions__number a:hover {
  color: #D67E34;
}
.actions__text span {
  display: inline-block;
  max-width: 154px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}
.actions__btn {
  margin-left: 45px;
}
.actions__book {
  margin: auto;
}
.actions__contact {
  padding: 0 2rem;
}

@media (max-width: 991px) {
  .actions__text, .actions__number {
    display: none;
  }
  .telephone-icon {
    margin-top: 50%;
  }
}
@media (max-width: 800px) {
  .actions {
    display: none;
  }
  .nav {
    display: none;
  }
  .nav .nav__list {
    flex-direction: column;
    margin: 0 1rem;
    padding: 1rem;
    width: 50%;
    height: auto;
    position: absolute;
    right: 0;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 10;
    top: 10%;
    background: linear-gradient(rgba(255, 255, 255, 0.827), rgba(255, 90, 1, 0.833));
  }
  .nav .nav__list li {
    padding: 0.5rem 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
  }
  .nav .nav__list li a {
    font-size: 16px;
  }
  .show {
    display: flex;
  }
  .header__logo {
    margin-right: 66%;
  }
  .header__logo img {
    width: 45px;
    height: 31px;
  }
  .header__burger {
    display: block;
  }
  .burger__button {
    width: 31px;
    height: 18px;
    background-color: transparent;
  }
  .header__menu {
    padding-top: 20px;
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .header__menu {
    justify-content: space-around;
  }
  .header__logo {
    margin-right: 40%;
  }
  .header__cart {
    border-right: none;
  }
}
@media (max-width: 320px) {
  .wrapper {
    background-size: auto;
  }
  .text-welcome {
    font-size: 30px;
    line-height: 34px;
  }
  .text-big {
    font-size: 40px;
    line-height: 46px;
  }
  .greeting {
    width: 100%;
  }
}
.modal {
  display: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  transition: opacity 400ms ease-in;
}
.modal__btn_close {
  max-width: 3rem;
  max-height: 3rem;
  padding-top: 1rem;
  margin: 0 0 0 auto;
}
.modal__btn_close img {
  display: block;
  width: 100%;
  height: 100%;
}
.modal__btn_close img:hover {
  cursor: pointer;
}

.show {
  display: block;
}

.modal__container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: block;
  max-width: 680px;
  margin: 30px auto;
  padding: 0 30px 20px;
  border-radius: 6px;
  background-color: #fff;
}

.header__title_big {
  display: block;
  color: #FF7400;
  font-size: 60px;
  line-height: 67px;
  text-align: center;
}

.header__title_mid {
  display: block;
  color: #FF7400;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
}

.modal__text {
  margin: 15px 0;
}

.modal__text_terms {
  font-family: "Tinos", serif;
  font-size: 18px;
  line-height: normal;
  color: #555;
}

.modal__form input, select {
  font-family: "Tinos", serif;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  padding: 0 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.modal__form input ::-webkit-input-placeholder, select ::-webkit-input-placeholder {
  color: #555;
  font-family: "Tinos";
}
.modal__form input ::-moz-placeholder, select ::-moz-placeholder {
  color: #555;
  font-family: "Tinos";
}
.modal__form input :-ms-input-placeholder, select :-ms-input-placeholder {
  color: #555;
  font-family: "Tinos";
}
.modal__form input :-moz-placeholder, select :-moz-placeholder {
  color: #555;
  font-family: "Tinos";
}

.modal__form option {
  font-family: "Tinos", serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

.form-group {
  padding: 10px 0;
}

.button-book {
  margin-top: 10px;
}
.button-book .btn {
  width: 157px;
  height: 47px;
  background-color: #FF7400;
  color: #fff;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  display: block;
  margin: 0 auto;
}
.button-book .btn:active {
  transform: scale(0.95);
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.has-error {
  border: red 2px solid;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.cart {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
}

.cart__container {
  max-width: 30rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  background-color: #fff;
  z-index: 6000;
  margin: 0 43%;
}

.cart__close-btn {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0 1rem auto;
}

.cart__close-btn img {
  display: block;
  width: 100%;
}

.cart__title span {
  color: #FF7400;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
}

.cart__list-wrapper {
  display: flex;
  flex-direction: column;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0;
}

.item__img {
  width: 3rem;
  height: 3rem;
  padding-right: 0.5rem;
}

.item__img img {
  display: block;
  width: 100%;
}

.item__name {
  flex-grow: 2;
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.item__price {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.cart__check {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.cart__check span {
  font-family: "Tinos";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.cart__pay-btn button {
  border: none;
  width: 140px;
  height: 40px;
  background-color: #FF7400;
  color: #fff;
  border-radius: 4px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  margin-left: 25%;
}

.feedback-modal {
  display: none;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  transition: opacity 400ms ease-in;
}
.feedback-modal__btn_close {
  max-width: 3rem;
  max-height: 3rem;
  padding-top: 1rem;
  margin: 0 0 0 auto;
}
.feedback-modal__btn_close img {
  display: block;
  width: 100%;
  height: 100%;
}
.feedback-modal__btn_close img:hover {
  cursor: pointer;
}

.show {
  display: block;
}

.feedback-modal__container {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  display: block;
  max-width: 30vw;
  margin: 30px auto;
  padding: 0 30px 20px;
  border-radius: 6px;
  background-color: #fff;
}

.header__title_big {
  display: block;
  color: #FF7400;
  font-size: 45px;
  line-height: 67px;
  text-align: center;
}

.feedback-modal__form input, select {
  font-family: "Tinos", serif;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  padding: 0 6px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}
.feedback-modal__form input ::-webkit-input-placeholder, select ::-webkit-input-placeholder {
  color: #555;
  font-family: "Tinos";
}
.feedback-modal__form input ::-moz-placeholder, select ::-moz-placeholder {
  color: #555;
  font-family: "Tinos";
}
.feedback-modal__form input :-ms-input-placeholder, select :-ms-input-placeholder {
  color: #555;
  font-family: "Tinos";
}
.feedback-modal__form input :-moz-placeholder, select :-moz-placeholder {
  color: #555;
  font-family: "Tinos";
}

.form-group {
  padding: 10px 0;
}

.comment-group textarea {
  width: 100%;
}

.has-error {
  border: red 2px solid;
}/*# sourceMappingURL=style.css.map */