.header {
    margin: 0 auto;
    padding: 0 5px;
   &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 3.57rem;
    }
   &__logo { 
       flex-grow: 1;
       img {
        transition: transform .8s ease-in-out;
       }
       img:hover {
        transform: rotate(360deg);
       }
   }

   &__actions {
       display: flex;
       justify-content: space-between;
       flex-wrap: wrap;
    }
    &__burger {
        display: none;
    }
}
.nav {
	&__item {
        margin-right: 25px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        color: $white;
        transition: color 0.2s linear;
    }
    &__item:hover {
        color: #D67E34;
    }
}
.header__cart {
    border-right: 1px solid #fff;
    padding-right: 10px;
    height: 50px;
    padding-top: 10px;
}
.cart-icon {
    top: 20px;
}

.actions {
	&__telephone {
          display: flex;
          gap: 8px;
      }
	&__number {
          a {
               @include text-bold;
               font-size: 18px;
               line-height: 25px;
               color: #fff;
               transition: color 0.2s linear;
          }
          a:hover {
            color: #D67E34;
          }
      }
	&__text {
          span {
               display: inline-block;
               max-width: 154px;
               font-family: 'Open Sans';
               font-style: normal;
               font-weight: 400;
               font-size: 14px;
               line-height: 19px;
               color: $white;
          }
      }
	&__btn {
          margin-left: 45px;
     }

    &__book {
        margin: auto;
    }

    &__contact {
        padding: 0 2rem;
    }
}

@media (max-width: 991px) {
    .actions__text, .actions__number {
        display: none;
    }
    .telephone-icon {
        margin-top: 50%;
    }
}

@media (max-width: 800px) {
    .actions {
        display: none;
    }
    .nav {
        display: none;
        .nav__list {
            flex-direction: column;
            margin: 0 1rem;
            padding: 1rem;
            width: 50%;
            height: auto;
            position: absolute;
            right: 0;
            text-align: center;
            box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
            border-radius: 10px;
            z-index: 10;
            top: 10%;
            background: linear-gradient(rgba(255, 255, 255, 0.827), rgba(255, 90, 1, 0.833));
            li {
                padding: 0.5rem 1rem;
                box-shadow: 0 5px 10px rgb(0 0 0 / 30%);
                width: 100%;
                a {
                    font-size: 16px;
                }
            }
        }
    }
    .show {
        display: flex;
    }
    .header__logo {
        margin-right: 66%;
        img {
            width: 45px;
            height: 31px;
        }
    }
    .header__burger {
        display: block;
    }
    .burger__button {
        width: 31px;
        height: 18px;
        background-color:transparent;
        
    }
    .header__menu {
        padding-top: 20px;
        justify-content: space-between;
    }
}
@media (max-width: 480px) {
    .header__menu {
        justify-content: space-around;
    }
    .header__logo {
        margin-right: 40%;
    }
    .header__cart {
        border-right: none;
    }
}