.banner {
    background: 
        linear-gradient(rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.8)),
        url(./assets/img/background_history.png);
    background-repeat: no-repeat;
    background-size: cover;
    &__container {
        height: 357px;
        padding: 5px 5px 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__text {
        width: 601px;
        height: 173px;
        &_big {
            font-family: 'Tinos';
            font-style: normal;
            font-weight: 400;
            font-size: 52px;
            line-height: 60px;
            color: $orange;
            padding-bottom: 20px;
        }
        &_adv {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            color: $white;
        }
    }
}

@media (max-width:320px) {
    .banner__text_big {
        font-size: 30px;
        line-height: 34px;
    }
    .banner {
        background-size: auto;
        &__container {
            flex-wrap: wrap;
        }
    } 
}