include ../button/button.pug
.banner
    .banner__container
        .banner__text
            .banner__text_big Отпразднуйте в одном из самых лучших ресторанов.
            .banner__text_adv Только в этом месяце бизнес-ланч от 250 ₽
        +button({type:'banner', text:'ЗАКАЗ СТОЛИКА'})