.galery__container {
    max-width: 1129px;
    padding: 0 5px;
    margin: 0 auto;
}

.galery__photos {
    display: grid;
    grid-template-rows: 274px 274px;
    gap: 30px;

    &-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;

    }
}