include ../title/title.pug
.galery
    .galery__container
        +title({difference:true, type:'galery', text1:'Галерея', text2:'блюд'})
        .galery__photos
            .photos__item-1
                img(src="./assets/img/dish1.png" alt="Food")
            .photos__item-2
                img(src="./assets/img/dish2.png" alt="Food")
            .photos__item-3
                img(src="./assets/img/dish3.png" alt="Food")
            .photos__item-4
                img(src="./assets/img/dish2.png" alt="Food")
            .photos__item-5
                img(src="./assets/img/dish3.png" alt="Food")
            .photos__item-6
                img(src="./assets/img/dish1.png" alt="Food")