include ../title/title.pug
.galery
    .galery__container
        +title({difference:true, type:'galery', text1:'Галерея', text2:'блюд'})
        .galery__photos
            .galery__photos-row.photos
                .photos__item
                    img(src="./assets/img/dish1.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish2.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish3.png" alt="Food")
            .galery__photos-row.photos
                .photos__item
                    img(src="./assets/img/dish2.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish3.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish1.png" alt="Food")
