.galery
    .gakery__container
        .galery__title Галерея 
            span блюд
        .galery__photos
            .galery__photos-row.photos
                .photos__item
                    img(src="./assets/img/dish1.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish2.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish3.png" alt="Food")
            .galery__photos-row.photos
                .photos__item
                    img(src="./assets/img/dish2.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish3.png" alt="Food")
                .photos__item
                    img(src="./assets/img/dish1.png" alt="Food")
