include ../../components/button/button.pug
.feedback
    .feedback__container
        .feedback__text Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!
        .feedback__user
            .feedback__user-avatar
                img(src="./assets/img/avatar.png" alt="avatar")
            .feedback__user-info
                .feedback__user-status Посетитель
                .feedback__user-name Николай
        .feedback__slider
            .feedback__slider-item
            .feedback__slider-item
            .feedback__slider-item.active
        .feedback__button 
            +button({type:'feedback', text:'ОСТАВИТЬ ОТЗЫВ', atributes: true, name_atr:'.feedback-trigger'})