.information__container {
    max-width: 1129px;
    padding: 5px 5px 0;
    margin: 0 auto;
}
.history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 122px;
    &__text {
        display: flex;
        flex-direction: column;
        width: 444px;
        height: 422px;

        &-body {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #656363;
            padding-bottom: 60px;

        }
        &-numbers {
            display: flex;
            justify-content: space-evenly;
        }
    }
    &__photos {
        width: 539px;
        height: 498px;
        position: relative;
    }
}
.numbers {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    color: #BC9060;
    span {
        font-size: 20px;
        line-height: 27px;
        color: #000000;

    }
}
.photos-item {
    img {
        position: absolute;
        display: block;
    }
}
#first {
    z-index: 2;
    top: 198px;
    left: 285px;
    transition: 1s;
}
#second {
    top: 72px;
    z-index: 2;
    left: 0px;
    transition: 1s;
}
#third {
    top: 0px;
    left: 190px;
    z-index: 1;
    transition: 1s;
}
#first:hover, #second:hover, #third:hover {
    z-index: 4;
    transform: scale(1.1);
}

#forth {
    top: 34px;
    left: 285px;
}

@media (max-width: 320px) {
    .history {
        flex-direction: column;
        &__text {
            width: 100%;
        }
    }
    .history__photos {
        transform: scale(0.55);
        margin: 0 -115px;
    }
}