.modal {
    display: none;
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    transition: opacity 400ms ease-in;
    
    &__btn_close {
        max-width: 3rem;
        max-height: 3rem;
        padding-top: 1rem;
        margin: 0 0 0 auto;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        img:hover {
            cursor: pointer;
        }
    }
    
}
.show {
    display: block;
}
.modal__container {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    display: block;
    max-width: 680px;
    margin: 30px auto;
    padding: 0 30px 20px;
    border-radius: 6px;
    background-color: #fff;
}
.header__title_big {
    display: block;
    color: #FF7400;
    font-size: 60px;
    line-height: 67px;
    text-align: center;
}
.header__title_mid {
    display: block;
    color: #FF7400;
    font-size: 50px;
    line-height: 57px;
    text-align: center
}
.modal__text {
    margin: 15px 0;
}
.modal__text_terms {
    font-family: 'Tinos' ,serif;
    font-size: 18px;
    line-height: normal;
    color: #555;
}
.modal__form input, select {
    font-family: 'Tinos' ,serif;
    width: 100%;
    height: 45px;
    border-radius: 4px;
    box-shadow: 10px 10px 40px 20px rgb(0 0 0 / 10%);
    padding: 0 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    // ::-webkit-input-placeholder { color: #555; font-family: 'Tinos'}
    // ::-moz-placeholder { color: #555; font-family: 'Tinos'}
    // :-ms-input-placeholder { color: #555; font-family: 'Tinos'}
    // :-moz-placeholder { color: #555; font-family: 'Tinos'}
}
.modal__form option {
    font-family: 'Tinos' ,serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.modal__form option:first-of-type {
    color: #555;
}

.form-group {
    padding: 10px 0;
 }

.button-book {
    margin-top: 10px;
    .btn {
        width: 157px;
        height: 47px;
        background-color: #FF7400;
        color: #fff;
        border-radius: 4px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
        display: block;
        margin: 0 auto;
    }
    .btn:active {
        transform: scale(0.95);
        box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
 }

.has-error {
    border: red 2px solid;
}
.modal__form {
    ::-webkit-input-placeholder { color: #555; font-family: 'Tinos'}
    ::-moz-placeholder { color: #555; font-family: 'Tinos'; opacity:1}
    :-ms-input-placeholder { color: #555; font-family: 'Tinos'}
    :-moz-placeholder { color: #555; font-family: 'Tinos'; opacity:1}
}

@media (max-width: 800px) {
    .modal {
        width: 95%;
        margin: 0 auto;
        &__container {
            width: 95%;
            max-height: 90%;
            overflow-y: scroll;
            position: fixed;
        }
        &__btn_close {
            max-width: 2.5rem;
            max-height: 2.5rem;
        }
        .header__title_big, .header__title_mid  {
            font-size: 4rem;
        }
    }
}
