.offer {
    &__container {
        padding: 0 5px;
        margin: 0 auto;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__photo {
        position: relative;
        width: 40%;
        img {
            display: block;
            max-width: 100%;
            height: auto;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    &__item {
        display: flex;
        gap: 30px;
        &-text {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: space-between;
        }
        span {
            @include text;
            width: 100%;
        }

    }
}
.text {
    display: flex;
    justify-content: space-between;
}
.price {
    text-align: end;
}

@media (max-width: 480px) {
    .offer__photo {
        display: none;
    }
    .text {
        flex-direction: column;
    }
    .offer__item-photo {
        img {
            width: 130px;
            height: 113px;
        }
    }
    .offer__item {
        gap: 8px;
        &-text {
            .name {
                font-size: 22px;
            }
            .price {
                text-align: center;
            }
        }
    }
    .offer__list {
        gap: 87px;
    }

}

@media (max-width: 991px) {
    .offer__photo {
        display: none;
    }
    .offer__item {
        margin: 1% 0;
    }
}