.offer {
    &__container {
        max-width: 1129px;
        padding: 0 5px;
        margin: 0 auto;
    }

    &__body {
        display: flex;
        gap: 30px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
    }
    &__item {
        display: flex;
        gap: 30px;
        &-text {
            display: flex;
            align-items: center;
            flex-grow: 1;
            justify-content: space-between;
        }
        span {
            font-family: 'Tinos';
            font-style: normal;
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            width: 100%;
        }

    }
}
.text {
    display: flex;
}
.price {
    text-align: end;
}