include ../../components/title/title.pug
.offer
    .offer__container
        +title({difference:true, type:'offer', text1:'Наши', text2:'Блюда'})
        .offer__body
            .offer__photo
                img(src="./assets/img/offer.png" alt="photo")
            .offer__list
                .offer__item 
                    .offer__item-photo
                        img(src="./assets/img/menu.png" alt="menu")
                    .offer__item-text
                        span.text
                            span.name Гамбургер мини  
                            span.price  220 ₽
                .offer__item 
                    .offer__item-photo
                        img(src="./assets/img/menu.png" alt="menu")
                    .offer__item-text
                        span.text
                            span.name Гамбургер мини 
                            span.price  220 ₽
                .offer__item 
                    .offer__item-photo
                        img(src="./assets/img/menu.png" alt="menu")
                    .offer__item-text
                        span.text 
                            span.name Гамбургер мини 
                            span.price  220 ₽
    //- mixin offersList

    //- .offers
    //-     .offers__container 
    //-         .offers__title
    //-         .offers__main
    //-             .offers__foto_big
    //-                 img(src="" alt="")
    //-             .offers__foto_small
    //-             .offers__list