.cook__container {
    max-width: 1129px;
    margin: 0 auto;
}
.cook__foto {
    display: flex;
    justify-content: space-between;
}
.cook__title {
    text-align: center;
    font-family: 'Tinos';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 62px;
    margin-bottom: 107px;
    &_orange {
        color: #D67E34;
    }
}