.cook
    .cook__container
        .cook__title
            span.cook__title_black Наши 
            span.cook__title_orange Повара
        .cook__foto
            .foto_first
                img(src="./assets/img/cook1.png", alt="Foto")
            .foto_second
                img(src="./assets/img/cook2.png", alt="Foto")
            .foto_thitrd
                img(src="./assets/img/cook3.png", alt="Foto")