include ../../components/title/title.pug
.cook
    .cook__container
        +title({difference:true, type:'cook', text1:'Наши', text2:'Повара'})
        .cook__foto
            .foto_item
                img(src="./assets/img/cook1.png", alt="Foto")
            .foto_item
                img(src="./assets/img/cook2.png", alt="Foto")
            .foto_item
                img(src="./assets/img/cook3.png", alt="Foto")