button {
    width: 157px;
    height: 47px;
    background-color: #FF7400;
    color: #fff;
    border-radius: 4px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}