mixin button(content)
    div(class=`button_type_${content.type}`)
        if content.atributes
            button(data-atr=`${content.name_atr}` class=`btn-${content.type}`)=content.text
        else
            button(class=`btn-${content.type}`)=content.text