include ../button/button.pug
include ../title/title.pug
mixin menuCard(options)
    .menu__card
        .card__img
            img(src="./assets/img/burger.png" alt="").img-round
            .card__img-price 420
        .card__title=options.title
        .card__description=options.description
        +button({type:'order', text:'ЗАКАЗАТЬ'})      
.menu
    .menu__container 
        +title({difference:false, type:'menu', text:'Наше меню'})
        .menu__cards    
            +menuCard({title:'Гамбургер макси', description:'Максимально толстый слой мяса'})
            +menuCard({title:'Гамбургер макси', description:'Максимально толстый слой мяса'})
            +menuCard({title:'Гамбургер макси', description:'Максимально толстый слой мяса'})
